.imagebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:1000px;
    align-items: center;
    background-image: url(../../assets/FilmCrew.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.431)
}
.sentence{
    position: relative;
    top: -20rem;
    display: flex;
    align-items: center;
    color: white;
    font-size:7rem;
    /* margin-top: 8rem; */

}
.orange{
    color: orange;
}
.search-bar{
    position: relative;
    top: -10rem;
    display: flex;
    justify-content:center;
    width: 100%;
    height:4rem;
    /* margin-top: 5rem; */
}
.search-icon{
    height:100%;
    width:auto;
}
.search-form{
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: white;
    border-radius:100px;
    padding: 1rem;
    max-width: 1000px;
    box-shadow: 0 0 10px orange;
}
.search-input{
    width: 95%;
    height: 100%;

    font-size:2rem;
    border: none;
    outline: none;
}
