/* TODO Add site wide styles */
.wrapper {
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 0%;
}
.mainbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.navph{
    width: 100%;
    height: 5rem;
    background-color:green
}
.btn-holder{
    display:flex;
    gap: 1rem;
    justify-content: flex-start;
    width: 95%
}
