/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100;1,200;1,400&display=swap');
a{
    text-decoration:none;
    color:black
}
a:visited{
    color:black;
}
#root{
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 0%;
}
.mainbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 95vh;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10rem;
}
.about-link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navph{
    width: 100%;
    height: 5rem;
    background-color:green
}
.btn-holder{
    display:flex;
    width: 100%;
    justify-content: space-around;
    width: 95%;
    margin:4rem;
    background-color: rgba(255, 255, 255, 0.808);
    padding:1rem;
    padding-top: 2rem;
    border-radius:120px;
    box-shadow: 0 0 20px rgba(204, 135, 8, 0.465);
}
.btn-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-text{
    display: flex;
    flex-direction: column;
    font-size:1.2rem;
}
.btn-text > p{
 font-weight: bold;
}
.nav-btn{
  background-color: white;
  color: black;
  font-size:1.2rem;
  border-radius:40px;
  outline:none;
  border: none;
  padding:5px 15px;
  width: 7rem;
  transition: all 1s ease;
}
.nav-btn:hover{
    box-shadow: 0 0 20px black;
    cursor: pointer;
}
.pro-btn{
  background-color: black;
  color: white;
  font-size:1.2rem;
  border-radius:40px;
  outline:none;
  border: none;
  padding:5px 15px;
  width: fit-content;
  height: fit-content;
  transition: all 0.5s ease;

  font-family: 'Poppins', sans-serif;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.582); */

}
.pro-btn:hover{
    box-shadow: 0 0 20px black;
    cursor: pointer;
    background-color: white;
    color: black;

}
.pro-container{
    /* display:flex;
    align-items: center;
    margin: 1rem;
    padding-top: 4rem;
    z-index: 100;
    background-color:white; */
    position: relative;
}
.profile-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top:100%;
    z-index: 100;
    background: white;
    width:120%;
    padding-bottom: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Poppins', sans-serif;


}

details::-webkit-details-marker{
    display: none;
}
.details{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
.logout-btn{
    background-color: white;
    color: black;
    font-size:1.2rem;
    border-radius:40px;
    outline:none;
    border: none;
    padding:5px 15px;

    height: fit-content;
    transition: all 1s ease;

}
.logout-btn:hover{
    box-shadow: 0 0 20px black;
    cursor: pointer;
    background-color:rgba(255, 166, 0, 0.5);

}
.delete-btn{
    background-color: white;
    color: black;
    font-size:1.2rem;
    border-radius:40px;
    outline:none;
    border: none;
    padding:5px 15px;
    height: fit-content;
    transition: all 1s ease;
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

}
.delete-btn:hover{
    box-shadow: 0 0 20px black;
    cursor: pointer;
    background-color:rgba(255, 0, 0, 0.5);


}
.errors-list{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-top:20rem;
    list-style: none;
    padding-left: 3rem;
    gap: 1rem;
    border-radius: 50px;
    background-color:rgb(255, 123, 123);
    height: 30rem;

}

.errors-list > li{

    margin: 3rem;

}
