/* .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    background-color:rgba(31, 107, 206);
    border-radius: 20px;
    width:100%;
    max-width: 500px;
}
.form-input{
    font-size:1.5rem;
    width:75%;
}
.errors-list{
    margin: 0;
    padding: 0;
} */
